.gal_img > img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1280px) {

    .gal_img > img {
        width: 500px;
        height: 350px;
    }
}

@media screen and (max-width: 850px) {

    .gal_img > img{
        width: 500px;
        height: 350px;
    }
}