/** {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}
.v18_119 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v18_120 {
    width: 100%;
    height: 89px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v18_121 {
    width: 200px;
    height: 42px;
    background: url("../images/v18_121.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 18px;
    overflow: hidden;
}
.v18_122 {
    width: 228px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 23px;
    left: 1194px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}
.v18_123 {
    width: 253px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 23px;
    left: 883px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}
.v18_124 {
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 924px;
    left: 0px;
    overflow: hidden;
}
.v18_125 {
    width: 870px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 956px;
    left: 285px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.v18_126 {
    width: 325px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 995px;
    left: 558px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 13px;
    opacity: 1;
    text-align: center;
}
.name {
    color: #fff;
}
.v23_0 {
    width: 221px;
    height: 289px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 111px;
    left: 18px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}
.v23_1 {
    width: 122px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 234px;
    left: 68px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}
.v23_2 {
    width: 100%;
    height: 213px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 187px;
    left: 265px;
    overflow: hidden;
}
.v23_3 {
    width: 100%;
    height: 65px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 111px;
    left: 267px;
    overflow: hidden;
}
.v23_4 {
    width: 411px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 122px;
    left: 285px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}
.v23_5 {
    width: 378px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 273px;
    left: 404px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}
.v23_6 {
    width: 100%;
    height: 344px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 411px;
    left: 18px;
    overflow: hidden;
}
.v23_9 {
    width: 954px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 565px;
    left: 219px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}
.v23_7 {
    width: 100%;
    height: 126px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 766px;
    left: 18px;
    overflow: hidden;
}
.v23_8 {
    width: 88px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 811px;
    left: 414px;
    font-family: Roboto;
    font-weight: Black;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}*/

body
{
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    padding: 0;
}
#Image1
{
    border: 5px solid #000000;
    border-radius: 30px;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#Shape1
{
    border-width: 0;
    vertical-align: top;
}
#Shape2
{
    border-width: 0;
    vertical-align: top;
}
#Shape3
{
    border-width: 0;
    vertical-align: top;
}
#Button1
{
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    background-color: #808080;
    background-image: none;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    margin: 0;
}

#Button1:hover
{
    background-color: rgba(23, 23, 23, 0.9);
}
#wb_Text1
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: center;
}
#wb_Text1 div
{
    text-align: center;
}
#wb_Text2
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#wb_Text2 div
{
    text-align: left;
}
#wb_Text3
{
    background-color: transparent;
    background-image: none;
    border: 0px solid #000000;
    padding: 0;
    margin: 0;
    text-align: left;
}
#wb_Text3 div
{
    text-align: left;
}

a
{
    color: #0000FF;
    text-decoration: underline;
}
a:visited
{
    color: #800080;
}
a:active
{
    color: #FF0000;
}
a:hover
{
    color: #0000FF;
    text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
    outline: none;
}
.visibility-hidden
{
    visibility: hidden;
}
h1, .h1
{
    font-family: Arial;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
h2, .h2
{
    font-family: Arial;
    font-weight: bold;
    font-size: 27px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
h3, .h3
{
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
h4, .h4
{
    font-family: Arial;
    font-weight: bold;
    font-size: 21px;
    font-style: italic;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
h5, .h5
{
    font-family: Arial;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
h6, .h6
{
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
.CustomStyle
{
    font-family: "Courier New";
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #2E74B5;
    background-color: transparent;
}

